html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #063647; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}
ul li{
    list-style:none !important;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #063647;
}

.section-2 {
	background-color: #052D3D;
}

.section-3 {
	background-color: #0E282E;
	text-align: center;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

.section-5 {
	background: #07303d;
	text-align: center;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}
.is-social{
	
}
.project-figure {
	
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}
.project-figure img {
	border-radius: 4%;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: center;
	margin-bottom: 2rem;

}

.intro {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.person-name{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 200;
	font-style: oblique;
	color: #4CAF50;
}
.education-title{
	
	text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
  size: 3rem;
}
.zoom {
	
	transition: transform .2s;
	width: 200px;
	height: 200px;
	margin: 0 auto;
  }
  
  /* .zoom:hover {
	-ms-transform: scale(2);
	-webkit-transform: scale(2); 
	transform: scale(2); 
  } */
.list {
	list-style: none;
	font-family: 'Roboto', sans-serif;
  }
  .list-item {
	position: relative;
	padding: 10px 0;
	cursor: pointer;
  }
  .list-item:before {
	position: absolute;
	top: 50%;
	left: -20px;
	width: 12px;
	height: 12px;
	content: '';
	transition: all 0.3s;
	background-image: url(../public/img/index.svg);
	background-position: center;
	background-size: cover;
	transform: translateY(-50%);
  }
  .list-item:hover:before {
	left: -15px;
  }
.year{
padding: 2px 3px;
margin: 3px 2px;

font-size: 16px;
font-family: Arial;
background-color: #e7e7e7;
opacity: 50%;
color: #052D3D;
border-radius: 10%;
}

.void-background {
	background-color: transparent; 
}

.iam_title{
	text-align: center ;
	font-size: 40px ;
	/* color: #00d1b2; */
	
}
.co-distance{
	margin: 20px;
}
.interest-img{
	max-width: 300px;
}
.interest{
	text-align: center;
}
.tech-img{
	width: 120px;
	height: 120px;
}
.center{
	text-align: center;
}
.margin-1{
	margin: 30px 0 10px 0;
}
.margin-2{
	margin: 10px 0 10px 0;
}
.mleft-auto{
	margin-left: auto;
}
.mright-auto{
	margin-right: auto;
}
.arrow-button {
    display: flex;
    color: #C2FFE9;
    background-color: #07303D;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
}

.arrow-button > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #C2FFE9;
    border-bottom: 2px solid #C2FFE9;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.arrow-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.arrow-button:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}

.arrow-button:hover {
    background-color: #00d1b2;
    color: #fff;
}
.btn-group{
	display: flex;
	width: max-content;
}
.btn-group > .arrow-button {
	margin-left: 5px;
	margin-right: 5px;

}
.line{
	height: 2px;
	width: 10%;
	background-color: #a1aaad;
	margin-top: 7px;
}
.section-title{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#testimonials-section {
	/* padding: 80px 0;
    background: #063647;
	background-size: cover;
	background-attachment: fixed; */
	color: #a1aaad;
}
.carousel-section {
	padding: 30px 0;
  text-align: center;
}
.carousel-section .item {
	/* display: block; */
	margin: 45px;
	margin-top: 0;
	width: 85%;
	height: auto;
}
.cousel-item-content{
	    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carousel-section .item p {
	font-weight: 400;
	margin: 0 0 30px 0;
}
hr {
    height: 3px;
    width: 60px;
    position: relative;
    background: #a5a5a5;
    border: 0;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
